Data Types in Python

In [14]:
1+1,4*5,10/2,2**2

(2, 20, 5.0, 4)

In [15]:
type(1),type("Hello"),type(True),type(2.3)

(int, str, bool, float)

Variable Assignment

In [16]:
a=10
type(a)

int

In [17]:
a="Hello"
type(a)

str

In [18]:
a=10
b=20
print((a*b)+(a/b))

200.5

Various types of printing

In [19]:
print("Hello")

Hello

In [20]:
first_name="Krish"
last_name="Naik"

In [21]:
print("My first name is {} and last name is {}".format(first_name,last_name))
print("My first name is {first} and last name is {last}".format(first=first_name,last=last_name))

My first name is Krish and last name is Naik
My first name is Krish and last name is Naik

Boolean Variables

In [22]:
print(True,False)
type(True),type(False)

True False

(bool, bool)

Inbuilt Functions

In [23]:
mystr="Krish Naik"

In [24]:
print(mystr.isalnum())
print(mystr.istitle())
print(mystr.isupper())
print(mystr.islower())
print(mystr.isspace())
print(mystr.endswith('d'))
print(mystr.isdigit())

False
True
False
False
False
False
False

here

In [25]:
print("Hello")

Hello

Boolean and Logical Operators

In [4]:
True and True,True and False,False and False

(True, False, False)

In [4]:
str_exm="Hello World"
my_str1="Krish"
my_str1.isalpha() or str_exm.isnum()

True

List

In [7]:
lst=[],lst1=list()
type(lst)

list

In [11]:
list=['Maths','Science',100,200,300]
list

['Maths', 'Science', 100, 200, 300]

Append

In [12]:
lst.append("Krish")
lst

['Krish']

Insert

In [20]:
lst.insert(1,"Naik")
lst

['Krish', 'Naik', 'Naik', 'Naik']

In [23]:
lst.remove("Naik")

In [24]:
lst

['Krish', 'Naik']

In [26]:
#indexing
lst[1]

'Naik'

In [27]:
list[4]

300

In [28]:
lst.extend([5,6,7,8,9])
lst

['Krish', 'Naik', 5, 6, 7, 8, 9]

In [31]:
lst.append(['David','Smith'])
lst

['Krish', 'Naik', 5, 6, 7, 8, 9, ['David', 'Smith']]

In [32]:
lst.extend(['David','Smith'])
lst

['Krish', 'Naik', 5, 6, 7, 8, 9, ['David', 'Smith'], 'David', 'Smith']

In [33]:
lst1=[1,2,3,4,5]
sum(lst1)

15

In [34]:
lst.pop()
lst

['Krish', 'Naik', 5, 6, 7, 8, 9, ['David', 'Smith'], 'David']

In [35]:
lst.count('David')

1

In [36]:
lst.index(5,0,7)

2

In [37]:
min(lst1),max(lst1)

(1, 5)

In [38]:
lst*5

['Krish',
 'Naik',
 5,
 6,
 7,
 8,
 9,
 ['David', 'Smith'],
 'David',
 'Krish',
 'Naik',
 5,
 6,
 7,
 8,
 9,
 ['David', 'Smith'],
 'David',
 'Krish',
 'Naik',
 5,
 6,
 7,
 8,
 9,
 ['David', 'Smith'],
 'David',
 'Krish',
 'Naik',
 5,
 6,
 7,
 8,
 9,
 ['David', 'Smith'],
 'David',
 'Krish',
 'Naik',
 5,
 6,
 7,
 8,
 9,
 ['David', 'Smith'],
 'David']

Sets

In [39]:
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [40]:
set_var={"Avengers","IronMan","Hitman"}
print(set_var)
type(set_var)

{'Avengers', 'IronMan', 'Hitman'}

set

In [41]:
set={2,23,4,5,6,6,6,7,9}
set

{2, 4, 5, 6, 7, 9, 23}

In [42]:
#sets does not support indexing
#inbulit function in sets
set_var.add("Hulk")
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [43]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [44]:
set1={"Avengers","IronMan","Hitman"}
set2={"Avengers","IronMan","Hitman","Hulk2"}

In [45]:
set2.difference(set1)

{'Hulk2'}

In [46]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [47]:
set2.difference_update(set1)

In [48]:
set2

{'Hulk2'}

In [49]:
set1={"Avengers","IronMan","Hitman"}
set2={"Avengers","IronMan","Hitman","Hulk2"}

In [50]:
set

{2, 4, 5, 6, 7, 9, 23}

Dictionarioes

In [51]:
Dic={}
type(Dic)

dict

In [52]:
my_dic={"Car1":"Audi","Car2":"BMW","Car3":"Mercidies Benz"}
for x in my_dic:
    print(x)

Car1
Car2
Car3

In [54]:
for x in my_dic.values():
    print(x)

Audi
BMW
Mercidies Benz

In [55]:
for x in my_dic.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [56]:
my_dic['Car4']='Audi 2.0'
my_dic

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Audi 2.0'}

In [57]:
my_dic['Car1']='Maruti'
my_dic

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Audi 2.0'}

Nested Dictionary

In [58]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}
car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [61]:
print(car_type['car1'])
print(car_type['car1']['Mercedes'])

{'Mercedes': 1960}
1960

Tuples

In [62]:
my_tuples=tuple()
type(my_tuples)

tuple

In [63]:
my_tuple=("Krish","Naik","AI")
my_tuple[0]

'Krish'

In [64]:
#Tuple is immutable
my_tuple[0]="Machine"

TypeError: 'tuple' object does not support item assignment

In [65]:
my_tuple.count('Krish')

1

In [66]:
my_tuple.index('Naik')

1