Function

In [2]:
nums=24
if nums%2==0: print("The number is even")
else: print("The number is odd")

The number is even

In [5]:
def even_odd(nums):
    if nums%2==0:
        print("The number is even")
    else: 
        print("The number is odd")

In [6]:
even_odd(35)

The number is odd

In [7]:
#print vs return 
def hello_world():
    print("Hello Welcome")

In [8]:
hello_world()

Hello Welcome

In [9]:
val=hello_world()
print(val)

Hello Welcome
None

In [11]:
def hello_world1():
    return "Hello Welcome"
val=hello_world1()
print(val)

Hello Welcome

In [12]:
def add_number(num1,num2):
    return num1+num2
add_number(10,20)

30

In [16]:
#position argument- name
#Keyword argumnent - age
def hello(name,age=29):
    print("My name is {} and age is {}".format(name,age))

In [17]:
hello("John",24)

My name is John and age is 24

In [18]:
hello("John")

My name is John and age is 29

In [19]:
def helloo(*args,**kwargs):
    print(args)
    print(kwargs)

In [20]:
helloo("Krish","Naik",age=29,dob=1990)

('Krish', 'Naik')
{'age': 29, 'dob': 1990}

In [21]:
lst=['Krish', 'Naik']
dict_args={'age': 29, 'dob': 1990}

In [23]:
helloo(*lst,**dict_args)

('Krish', 'Naik')
{'age': 29, 'dob': 1990}

In [24]:
lst=[1,2,4,5,6]

In [28]:
def evenoddsum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
    return ("Odd sum = {}  Even sum = {}".format(even_sum,odd_sum))

In [29]:
evenoddsum(lst)

'Odd sum = 12  Even sum = 6'

Map function

In [ ]:
def even_or_odd(num):
    if num%2==0:
        return "The number {} is Even".format(num)
    else:
        return "The number {} is Odd".format(num)

In [31]:
even_or_odd(20)

'The 20 is Even'

In [32]:
lst=[1,2,3,4,5,67,83,745,7,2,1,6]

In [35]:
# map(function,iterable)
list(map(even_or_odd,lst))

['The 1 is Odd',
 'The 2 is Even',
 'The 3 is Odd',
 'The 4 is Even',
 'The 5 is Odd',
 'The 67 is Odd',
 'The 83 is Odd',
 'The 745 is Odd',
 'The 7 is Odd',
 'The 2 is Even',
 'The 1 is Odd',
 'The 6 is Even']

Lambda function

anonymous function or a function with no name

In [36]:
def addition(a,b):
    return a+b

In [37]:
addition(4,5)

9

In [38]:
addition=lambda a,b:a+b

In [39]:
addition(12,14)

26

In [40]:
def even(num):
    if num%2==0:
        return True

In [41]:
even(58)

True

In [43]:
even=lambda num:num%2==0
even(28)

True

In [44]:
def addition(x,y,z):
    return x+y+z

In [45]:
addition1=lambda x,y,z:x+y+z
addition1(24,4,5)

33

Filter Function

In [46]:
def even(num):
    if num%2==0:
        return True

In [47]:
lst=[1,2,3,4,5,6,7,8,9,10]

In [49]:
list(filter(even,lst))

[2, 4, 6, 8, 10]

In [50]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 8, 10]

In [51]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, False, True, False, True, False, True]

List Comprehension<br>
can reduce the line of code and also make the time complexity faster

In [54]:
lst1=[]
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [55]:
lst_square([1,2,3,4,5,6])

[1, 4, 9, 16, 25, 36]

In [59]:
lst1=[1,3,4,5,6]

In [62]:
#list comprehension
[i*i for i in lst1 if i%2==0]

[16, 36]

String Formatting in Python

In [63]:
print("Hello Everyone")

Hello Everyone

In [65]:
def greeting(name):
    return "Hello {}. Welcome to the community".format(name)
greeting("John")

'Hello John. Welcome to the community'

In [ ]:
def welcome_email(firstname,lastname):
    return "Welcome {}. Everyone please welcome {}".format(firstname,lastname)
welcome_email("Krish","Naik")

'Welcome Krsih. Everyone please welcome Naik'

In [68]:
def welcome_email(firstname,lastname):
    return "Welcome {first}. Everyone please welcome {last}".format(last=lastname,first=firstname)
welcome_email("Krish","Naik")

'Welcome Krish. Everyone please welcome Naik'

Python List Iterables vs Iterators<br>
iterables allocates memory intially <br>
iterator allocates and initalizes memory only when a specific function is called

In [ ]:
#list is iterable
lst=[1,2,3,4,5,6,7]
for i in lst:
    print(i)

1
2
3
4
5
6
7

In [71]:
# list is iteraor
lst1=iter(lst)